@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oxygen, sans-serif;
    font-weight: 300;
    color: #252525;
}

/* header */

#emergency-contact{
    background-color: #FEFEE3;
    padding: 4px;
}
#navigation{
    width:100%;
    height:75px;
    background-color: #D68C45;
}

/* headings and logo */

h1, h2 {
    font-family: Oxygen, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* emergency contact bar links */
#emergency-contact a {
    text-decoration: none;
    color: inherit;
}

#emergency-contact a:hover {
    border-bottom: 1px solid #3a3a3a;
}
/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#menu button {
    text-decoration: none;
    color: #FFF;
    background-color: #2C6E49;
    border-width: 15px;
    border: #252525;
    border-radius: 45%;
    padding: 10px;
    font-family: Oxygen, sans-serif;
    font-weight: 300;
    font-size: 100%;
    text-align: center;
}

#menu button:hover {
    background-color: #4C956C;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero_image.png') no-repeat center center;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


#cover-text {
    font-size: 80%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(255, 201, 185, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}